<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1>Post</h1>
    <form action="/users/post" method="POST" enctype="multipart/form-data">
        <label for="content">Content: </label>
        <textarea type="text" name="content"></textarea>
        <br>

        <label for="image">Image:</label>
        <input type="file" name="image" accept="image/*">
        <br>

        <input type="submit" value="Submit">
    </form>
    
</body>
</html>